<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431655835989-bha8tnjibs0bf16uisfjh9kggabp98ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431655835989-bha8tnjibs0bf16uisfjh9kggabp98ov</string>
	<key>API_KEY</key>
	<string>AIzaSyBD94QgF9H03Be3sErHho6zFZx1h_B8pOY</string>
	<key>GCM_SENDER_ID</key>
	<string>431655835989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikikiks.eshop</string>
	<key>PROJECT_ID</key>
	<string>eshop-8f374</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-8f374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431655835989:ios:126cfc4e1d40f4a5aa37dc</string>
</dict>
</plist>